@font-face {
    font-family: "HollowKnight";
    src: url("../fonts/HollowKnight.ttf") format("truetype");
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("Menu.jpg") no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    font-family: "HollowKnight", serif;
    text-align: center;
}

h1 {
    margin-bottom: 5Px;
    color: #fdfdfd;
    text-shadow: 0 0 15px rgba(255, 255, 200, 0.8);
    letter-spacing: 5px;
    padding: 130px 300px;
    background: url("1erDepartamental.png") no-repeat center center;
    background-size: cover;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.menu a {
    font-size: 28px;
    color: #d7d7d7;
    text-decoration: none;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transition: color 0.3s, transform 0.2s;
    position: relative;
    padding-left: 30px;
}

.menu a:hover::before {
    content: "➤";
    position: absolute;
    left: 0;
    color: #ffffff;
}

.menu a:hover {
    color: #ffffff;
    transform: scale(1.1);
    text-shadow: 0 0 20px rgba(250, 239, 210, 0.9);
}