body {
    font-family: Arial, sans-serif;
    background: #8f7856;
    text-align: center;
}

.card {
    background: rgba(189, 71, 124, 0.63);
    width: 450px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.foto {
    width: 130px;
    height: 130px;
    border-radius: 40%;
    object-fit: cover;
    margin-bottom: 15px;
    transition: transform 0.3s ease;
}

.foto:hover {
    transform: scale(1.1);
}

button {
    background: #896644;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #8b7c50;
}
